EXPO_PUBLIC_API_URL=https://sua-api.onrender.com
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
APP_ENV=development
MERCADO_PAGO_SUCCESS_URL=meuapp://pagamento/sucesso
MERCADO_PAGO_FAILURE_URL=meuapp://pagamento/erro
MERCADO_PAGO_PENDING_URL=meuapp://pagamento/pendente
